﻿
<style>
    label.custome {
        font-size: 24px;
    }

    input[type=checkbox] {
        display: none;
    }
    .checkbox label{
        padding-right:0 !important;
    }

        input[type=checkbox] + label.custome:before {
            font-family: FontAwesome;
            display: inline-block;
        }

        input[type=checkbox] + label.custome:before {
            content: "\f096";
        }
        /* unchecked icon */
        input[type=checkbox] + label.custome:before {
                margin-left: 7px;
        }
        /* space between checkbox and label */

        input[type=checkbox]:checked + label.custome:before {
            content: "\f046";
        }
        /* checked icon */
        input[type=checkbox]:checked + label.custome:before {
               margin-left: 7px;
        }

        .fa:hover{
            cursor:pointer;
        }
</style>
<h2 class="page-header">
    ערוך/צור אירוע
</h2>
<div class="row">
    <form role="form" novalidate>
        <div class="col-sm-6">
            <div class="checkbox">
                <label style="padding-right:0!important">
                    <!--<input type="checkbox" class="hcsraBit dis" ng-model="createmodel.hcshra" ng-checked="!isEditabe">
                    <span style="margin-right: 22px;">העבר להכשרה</span>-->

                    <input id="box1" type="checkbox" class="hcsraBit dis" ng-model="createmodel.hcshra" ng-checked="!isEditabe" />
                    <label class="custome" for="box1">
                        <span ng-show="isEditabe">
                            העבר להכשרה
                        </span>
                        <span ng-show="!isEditabe">
                            האירוע  הועבר להכשרה
                        </span>
                    </label>

                </label>
            </div>
            <div class="form-group">
                <div class="smalWidth" ng-show="!isFromEdit">
                    <label>
                        אמבולטורי
                    </label>

                    <div class="form-group w3">
                        <select class="form-control dis" ng-model="createmodel.ambulatory">
                            <option value="true">כן</option> <!---ng-selected="true"-->
                            <option value="false">לא</option>
                        </select>
                    </div>
                </div>
            </div>

            <div ng-show="createmodel.ambulatory == 'true'">
                <div class="smalWidth">
                </div>
                <div class="form-group">
                    <textarea class="form-control dis" ng-trim="false" ng-model="createmodel.ambulatoryText" type="textarea"
                              placeholder="הערות" maxlength="200"
                              rows="7"></textarea>
                </div>

            </div>
            <div ng-show="createmodel.ambulatory == 'false'">
                <div class="smalWidth">
                    <div class="form-group">
                        <label>
                            סוג בקשה
                        </label>
                        <select class="form-control dis w3" ng-model="createmodel.otherReason">
                            <option value="tvia">הגשת תביעה</option>
                            <option value="change">בקשה לשינויים/מידעים</option>
                        </select>
                    </div>
                </div>

                <div ng-show="createmodel.otherReason == 'tvia'">
                    <div style="width: 330px;">
                        <h4>
                            תאריך דיווח חדש
                        </h4>
                        <p class="input-group" style="direction:ltr">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btnIncident" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            <input type="text" class="form-control dis" uib-datepicker-popup="dd/MM/yyyy"
                                   data-close-text="סגור"
                                   data-clear-text="נקה"
                                   data-current-text="היום"
                                   ng-model="createmodel.date" name="date" is-open="popup.opened"
                                   datepicker-options="dateOptions" ng-required="true" />
                        </p>
                    </div>
                    <div class="form-group">
                        פירוט הארוע
                        <textarea class="form-control dis" ng-trim="false" ng-model="createmodel.ChangeReqText1" type="textarea"
                                  placeholder="הערות" maxlength="200"
                                  rows="7"></textarea>
                    </div>
                </div>

                <div ng-show="createmodel.otherReason == 'change'">

                    <div class="form-group">
                        פירוט השינוי
                        <textarea class="form-control dis" ng-trim="false" ng-model="createmodel.ChangeReqText2" type="textarea"
                                  id="message"
                                  placeholder="הערות" maxlength="200"
                                  rows="7"></textarea>
                    </div>
                </div>
            </div>

            <hr />


            <div class="checkbox" id="accordionChek" ng-show="isEditabe">

                <input id="box2" type="checkbox" class="hcsraBit" data-toggle="collapse" data-target="#demo" ng-model="addFile" ng-change="emptyForm()" />
                <label class="custome" for="box2">הוסף קובץ</label>

            </div>
            <div id="demo" class="collapse">


                <!--<p>
                    הזן שם קובץ:
                </p>
                <p>
                    <input type="text" ng-model="uploadedFileName" required />
                </p>
                <input type="file" id="file1" value="בחר קובץ" name="file" ng-files="getTheFiles($files)" />
                <hr />-->

                <input type="file" upload-files multiple />

                <table class="table table-striped table-hover" ng-show="files.length > 0">
                    <thead>
                        <tr>
                            <th>שם קובץ</th>
                            <th>קובץ</th>
                            <th>העלעת קובץ</th>
                            <th>מחק</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="file in files">
                            <td>
                                <input type="text" id="{{ 'input-' + $index }}" ng-model="model.input" ng-change="associateWithFile(file,model.input)" />
                                <div style="display:none;color:red">
                                    הזינו כותרת
                                </div>
                            </td>
                            <td>{{file.name}}</td>
                            <td id="{{ 'object-' + $index }}"><i  class="fa fa-upload fa-2x" ng-click="uploadTest(file,model.input,$index)" aria-hidden="true"></i></td>
                            <td ng-click="removeFile(file)"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></td>
                        </tr>
                    </tbody>
                </table>
                <br/>
              
                <!--<table class="table table-striped table-bordered table-hover" ng-show="addedFiles.length > 0">
                    <thead>
                        <tr>
                            <th>כותרת</th>
                            <th>שם קובץ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="file in addedFiles">
                            <td>{{file.title}}</td>
                            <td>{{file.file.name}}</td>
                        </tr>
                    </tbody>
                </table>-->
            </div>

            <div ng-show="createmodel.FileNames.length > 0">
                <p>קבצים מצורפים לאירוע</p>
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>כותרת</th>
                            <!--<th>שם קובץ</th>-->
                            <th>נוצר ב</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in createmodel.FileNames">
                            <td>{{item.Subject}}</td>
                            <!--<td>{{item.FileName}}</td>-->
                            <td>{{item.CreatedOn | date:'medium'}}</td>
                        </tr>
                    </tbody>
                </table>
                <br/>

        


            </div>

            <button class="btn btn-success dis" type="button" ng-click="save()" ng-show="!isFromEdit">שמור</button>
            <button class="btn btn-success dis" type="button" ng-click="update()" ng-show="isFromEdit">עדכן</button>
            <a href="#/detect" class="btn btn-danger">בטל</a>
        </div>
    </form>

</div>







