﻿<h1 class="page-header">
  אירועים אחרונים
</h1>

<div class="mainDiv" ng-cloak>
    <div class="minHeight">
        <div class="gridTbl">
            <div class="separator">
                אירועים אחרונים
            </div>
            <table tr-ng-grid=""
                   class="gridTbl"
                   enable-filtering="false"
                   selected-items="InsidentsSelected"
                   items="Incidents"
                   selection-mode="SingleRow"
                   display-align="right"
                   page-items="4"
                   locale="he"
                   orderBy="createdon">
                <thead>
                    <tr>
                        <th field-name="title" display-name="כותרת"></th>
                        <th field-name="createdon" display-name="נוצר ב" display-format="date: 'dd-MM-yyyy HH:mm'" style="direction: ltr !important;"></th>
                        <th field-name="createdby" display-name="נוצר על ידי"></th>
                        <th field-name="ownerid" display-name="בעלים"></th>
                        <th field-name="cs1_status" display-name="סטטוס"></th>
                        <th field-name="cs1_tat_status" display-name='תת סטטוס'></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!--<td field-name="title"><a ng-click="open(gridItem);$event.stopPropagation()">{{gridDisplayItem.title}}</a></td>-->
                        <td field-name="title"><a ng-click="ViewInDetail(gridItem);$event.stopPropagation()">{{gridDisplayItem.title}}</a></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>























<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" ng-show="!isFromEdit">צור אירוע חדש</h3>
        <h3 class="modal-title" ng-show="isFromEdit">עדכן אירוע </h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <form role="form" novalidate>
                <div class="col-sm-12">



                    <div class="checkbox">
                        <label style="padding-right:0!important">
                            <input type="checkbox" class="hcsraBit" ng-checked="!isEditabe" ng-model="createmodel.hcshra" ng-disabled="disable">
                            <span style="margin-right: 22px;">העבר להכשרה</span>
                        </label>
                    </div>


                    <div class="form-group">
                        <div class="smalWidth" ng-show="!isFromEdit">
                            <label>
                                אמבולטורי
                            </label>

                            <div class="form-group w3">
                                <select class="form-control" ng-model="createmodel.ambulatory" ng-disabled="disable">
                                    <option value="true">כן</option> <!---ng-selected="true"-->
                                    <option value="false">לא</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div ng-show="createmodel.ambulatory == 'true'">
                        <div class="smalWidth">
                            <label>
                                סיבת פנייה
                            </label>
                            <div class="form-group w3">
                                <select class="form-control" ng-model="createmodel.ambulatoryReason" ng-disabled="disable">
                                    <option value="reason1">sibat pniya 1</option>
                                    <option value="reason2">sibat pniya 2</option>
                                    <option value="reason3">sibat pniya 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="createmodel.ambulatoryReason == 'reason1'">
                            <textarea class="form-control" ng-trim="false" ng-model="createmodel.ambulatoryReasonText1" type="textarea"
                                      placeholder="הערות" maxlength="200"
                                      rows="7" ng-disabled="disable"></textarea>
                        </div>
                        <div class="form-group" ng-show="createmodel.ambulatoryReason == 'reason2'">
                            <textarea class="form-control" ng-trim="false" ng-model="createmodel.ambulatoryReasonText2" type="textarea"
                                      placeholder="הערות" maxlength="200"
                                      rows="7" ng-disabled="disable"></textarea>
                        </div>
                    </div>
                    <div ng-show="createmodel.ambulatory == 'false'">
                        <div class="smalWidth">
                            <div class="form-group">
                                <label>
                                    סוג בקשה
                                </label>
                                <select class="form-control w3" ng-model="createmodel.otherReason" ng-disabled="disable">
                                    <option value="tvia">הגשת תביעה</option>
                                    <option value="change">בקשה לשינויים/מידעים</option>
                                </select>
                            </div>
                        </div>

                        <div ng-show="createmodel.otherReason == 'tvia'">
                            <div style="width: 330px;">
                                <h4>
                                    תאריך דיווח חדש
                                </h4>
                                <p class="input-group" style="direction:ltr">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btnIncident" ng-click="open()" ng-disabled="disable"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                                           data-close-text="סגור"
                                           data-clear-text="נקה"
                                           data-current-text="היום"
                                           ng-model="createmodel.date" name="date" is-open="popup.opened"
                                           datepicker-options="dateOptions" ng-required="true" />
                                </p>
                            </div>
                            <div class="form-group">
                                פירוט הארוע
                                <textarea class="form-control" ng-trim="false" ng-model="createmodel.ChangeReqText1" type="textarea"
                                          placeholder="הערות" maxlength="200"
                                          rows="7" ng-disabled="disable"></textarea>
                            </div>
                        </div>

                        <div ng-show="createmodel.otherReason == 'change'">

                            <div class="form-group">
                                פירוט השינוי
                                <textarea class="form-control" ng-trim="false" ng-model="createmodel.ChangeReqText2" type="textarea"
                                          id="message"
                                          placeholder="הערות" maxlength="200"
                                          rows="7" ng-disabled="disable"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="save()" ng-show="!isFromEdit" ng-disabled="disable">שמור</button>
        <button class="btn btn-success" type="button" ng-click="update()" ng-show="isFromEdit" ng-disabled="disable">עדכן</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">בטל</button>
    </div>
</script>



