﻿body .bordered {
  border: 1px solid;
}
body .bordered .smalWidth {
  width: 25%;
}
body .bordered .btnIncident {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border: 1px solid gray !important;
}