﻿body {
    .bordered {
        border: 1px solid;

        .smalWidth {
            width: 25%;
        }

        .btnIncident {
            border-bottom-right-radius: 0 !important;
            border-top-right-radius: 0 !important;
            border: 1px solid gray !important;
        }
    }
}
