﻿body .w3 {
  width: 25%;
}
body .notFound {
  margin-right: 20px;
}
body .btn {
  padding: 5px 10px;
}
body .row {
  margin: 5px;
  margin-right: 0;
  margin-left: 0;
}
body .minHeight {
  height: 200px;
}
body .gridTbl .checkTh {
  padding: 5px 9px 0 3px;
}
body .gridTbl .checkTd {
  padding: 0 9px 4px 6px !important;
}
body .mainDiv .submitDiv {
  padding-top: 40px;
}
body .mainDiv .separator {
  background-color: #337ab7;
  color: white;
  font-size: 17px;
  padding-right: 15px;
}
body .mainDiv .separator .btn-default {
  padding: 1px 6px;
  border-radius: 3px 3px 0 0;
  border-color: transparent;
  color: #333;
  background-color: #ebebeb;
}
body .mainDiv .separator .btn-default.myActive {
  background-color: white;
}
body .mainDiv .table > tbody > tr > td {
  padding: 2px 4px;
  font-size: 12.5px;
}
body .mainDiv .table > tfoot > tr > td {
  padding: 4px;
}
body .mainDiv .pagination > li > span {
  padding: 1px 7px;
}
body .mainDiv .table > tbody > tr.active > td {
  background-color: rgba(183, 183, 183, 0.65) !important;
}
body .mainDiv .table {
  margin-bottom: 0;
}
body .mainDiv .table th {
  height: 16.5px;
  padding: 3px 10px;
}
body .mainDiv .table tr {
  height: 26px;
}
body .mainDiv .table .pagination > li > a {
  padding: 1px 9px;
}
body .mainDiv .table .tr-ng-grid-footer > div span:last-child {
  float: left !important;
}
body .mainDiv .table .tr-ng-grid-footer .form-group input {
  height: 23px;
}
body .mainDiv .table .tr-ng-title {
  padding-top: 0;
  font-size: 12px;
}
body .mainDiv .table .tr-ng-grid,
body .mainDiv .table .tr-ng-sort,
body .mainDiv .table .tr-ng-sort-inactive,
body .mainDiv .table .tr-ng-sort-active {
  left: 1px;
  right: auto;
}
body .mainDiv .table .tr-ng-cell {
  text-align: right;
}
body .mainDiv .table .tr-ng-cell:first-child:hover {
  cursor: pointer;
}
body .mainDiv .table tfoot .pagination li:last-child span:last-child {
  direction: rtl;
}
body .mainDiv .form-group .form-control {
  height: 27px;
  padding: 3px 9px;
  width: 70%;
  float: left;
  margin: 5px;
}