﻿body {

    .w3{
        width:25%;
    }
    .notFound{
        margin-right: 20px;
    }

    .btn {
        padding: 5px 10px;
    }

    .row {
        margin: 5px;
        margin-right: 0;
        margin-left: 0;
    }
      .minHeight
        {
          height: 200px;
        }

    .gridTbl {
        .checkTh {
            padding: 5px 9px 0 3px;
        }

        .checkTd {
            padding: 0 9px 4px 6px !important;
        }
    }

    .mainDiv {
        .submitDiv {
            padding-top: 40px;
        }

        .separator {
            background-color: #337ab7;
            color: white;
            font-size: 17px;
            padding-right: 15px;

            .btn-default {
                padding: 1px 6px;
                border-radius: 3px 3px 0 0;
                border-color: transparent;
                  color: #333;
                        background-color: #ebebeb;
                &.myActive{
                          background-color: white;
                }
            }
        }

        .table > tbody > tr > td {
            padding: 2px 4px;
            font-size: 12.5px;
        }

        .table > tfoot > tr > td {
            padding: 4px;
        }

        .pagination > li > span {
            padding: 1px 7px;
        }


        .table > tbody > tr.active > td {
            background-color: rgba(183, 183, 183, 0.65) !important;
        }

        .table {
            margin-bottom: 0;

            th {
                height: 16.5px;
                padding: 3px 10px;
            }

            tr {
                height: 26px;
            }

            .pagination > li > a {
                padding: 1px 9px;
            }

            .tr-ng-grid-footer > div {
                span {
                    &:last-child {
                        float: left !important;
                    }
                }
            }

            .tr-ng-grid-footer {
                .form-group {
                    input {
                        height: 23px;
                    }
                }
            }

            .tr-ng-title {
                padding-top: 0;
                font-size: 12px;
            }

            .tr-ng-grid, .tr-ng-sort, .tr-ng-sort-inactive, .tr-ng-sort-active {
                left: 1px;
                right: auto;
            }

            .tr-ng-cell {
                text-align: right;

                &:first-child {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            tfoot {
                .pagination {
                    li {
                        &:last-child {
                            span {
                                &:last-child {
                                    direction: rtl;
                                }
                            }
                        }
                    }
                }
            }
        }



        .form-group {
            .form-control {
                height: 27px;
                padding: 3px 9px;
                width: 70%;
                float: left;
                margin: 5px;
            }

            label {
            }
        }
    }
}
