﻿body {
  margin: 0;
  /* Set gray background color and 100% height */
  /* Set black background color, white text and some padding */
  /* On small screens, set height to 'auto' for sidenav and grid */
}
body .noborderRadus {
  border-radius: 0 !important;
}
body .form-control,
body .modal-content,
body .btn {
  border-radius: 0 !important;
}
body .hcsraBit {
  float: none !important;
  margin-right: 0px !important;
}
body .row.content {
  height: 855px;
}
body .sidenav {
  background-color: #f1f1f1;
  height: 100%;
}
body footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
@media screen and (max-width: 767px) {
  body .sidenav {
    height: auto;
    padding: 15px;
  }
  body .row.content {
    height: auto;
  }
}